<div class="table-responsive">
  <table class="table-condensed table-bordered">
    <thead class="table-head">
      <tr>
        <th>Ranking</th>
        <th>Title</th>
        <th>Description</th>
        <th>Director</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="rank"><span class="badge"><%= @movie.rank %></span></td>
          <td><%= @movie.name %></td>
          <td><%= @movie.description %></td>
          <td><%= @movie.director %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="btn-group">
  <%= button_to "Upvote", upvote_movie_path, method: :patch, class: "btn btn-default" %>
  <%= link_to "Edit", edit_movie_path, class: "btn btn-default"  %>
  <%= button_to "Delete", delete_movie_path, method: :delete, class: "btn btn-default"  %>
  <%= link_to "View All Albums", movies_path, class: "view-link"  %>
  <%= link_to "View All Media", root_path, class: "view-link"  %>
</div>
