<h2>All The Books<span class="glyphicon glyphicon-book"></span></h2>

  <table class="table-condensed table-bordered">
    <thead class="table-head">
      <tr>
        <th>Ranking</th>
        <th>Title</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <% @books_array.each do |book| %>
    <tbody>
        <tr>
          <td class="rank"><span class="badge"><%= book.rank %></span></td>
          <td><%= link_to book.name, "/books/#{book.id}" %></td>
          <td><%= render "shared/upvote", object: book %></td>
        </tr>
    </tbody>
    <% end %>
  </table>

  <div class="links">
    <%= link_to "Add New Book", add_book_path %>
    <%= link_to "View All Media", root_path %>
  </div>
