<div class="table-responsive">
  <table class="table-condensed table-bordered">
    <thead class="table-head">
      <tr>
        <th>Ranking</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="rank"><span class="badge"><%= @book.rank %></span></td>
          <td><%= @book.name %></td>
          <td><%= @book.description %></td>
          <td><%= @book.author %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="btn-group">
  <%= button_to "Upvote", upvote_book_path, method: :patch, class: "btn btn-default" %>
  <%= link_to "Edit", edit_book_path, class: "btn btn-default"  %>
  <%= button_to "Delete", delete_book_path, method: :delete, class: "btn btn-default"  %>
  <%= link_to "View All Books", books_path, class: "view-link"  %>
  <%= link_to "View All Media", root_path, class: "view-link"  %>
</div>
