<h2>All The Albums<span class="glyphicon glyphicon-music"></span></h2>

  <table class="table-condensed table-bordered">
    <thead class="table-head">
      <tr>
        <th>Ranking</th>
        <th>Title</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <% @albums_array.each do |album| %>
    <tbody>
        <tr>
          <td class="rank"><span class="badge"><%= album.rank %></span></td>
          <td><%= link_to album.name, "/albums/#{album.id}" %></td>
          <td><%= button_to "Upvote", upvote_album_path(album.id), method: :patch, class: "btn btn-default" %></td>
        </tr>
    </tbody>
    <% end %>
  </table>

<div class="links">
  <%= link_to "Add New Album", add_album_path %>
  <%= link_to "View All Media", root_path %>
</div>
