<div class="table-responsive">
  <table class="table-condensed table-bordered">
    <thead class="table-head">
      <tr>
        <th>Ranking</th>
        <th>Title</th>
        <th>Description</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="rank"><span class="badge"><%= @album.rank %></span></td>
          <td><%= @album.name %></td>
          <td><%= @album.description %></td>
          <td><%= @album.artist %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="btn-group">
  <%= render "shared/upvote", object: @album %>
  <%= link_to "Edit", edit_album_path, class: "btn btn-default"  %>
  <%= button_to "Delete", delete_album_path, method: :delete, class: "btn btn-default"  %>
  <%= link_to "View All Albums", albums_path, class: "view-link"  %>
  <%= link_to "View All Media", root_path, class: "view-link"  %>
</div>
